.hotelLayout {
  width: 99.1%;
  height: 99.1%;

  .hotelLayoutHeader {
    background: url('../../assets/image/layout-bg2.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5px 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      font-weight: 700;
    }

    .header-right {
      width: 500px;
      font-size: 18px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-between;

      :hover {
        cursor: pointer;
      }
    }
  }
}
