.layout {
  .layoutHeader {
    display: flex;
    justify-content: space-between;
    background-color: #6495ed;
    padding: 3px 20px;
    border-radius: 10px;

    .headRight {
      font-size: 18px;
      font-weight: 700;
      display: flex;
      width: 400px;
      justify-content: space-around;
      align-items: center;
      :hover {
        cursor: pointer;
      }
    }
  }
  .layoutContent {
    margin-top: 15px;
  }
}
