.dataCenter {
  margin: 20px 20px;
  .dataCenterHead {
    display: flex;
    justify-content: space-between;

    :nth-child(n) {
      color: cornflowerblue;
      width: 30%;
    }

    .dataCenterHeadLeft {
      font-size: 20px;
    }

    .dataCenterHeadCenter {
      text-align: center;

      span {
        font-size: 26px;
        font-weight: 800;
      }
    }

    .dataCenterHeadRight {
      font-size: 20px;
      text-align: end;
    }
  }

  .dataCenterContent {
    margin-top: 20px;
    padding: 0 15px;

    .RoomSurvey {
      margin-top: 60px;
      margin-bottom: 80px;
    }

    .echartTitle {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      color: cornflowerblue;
    }
  }
}
