.notice {
  margin-top: 30px;
  background: #fff;

  .pageTitle {
    font-size: 30px;
    display: flex;
    font-weight: 800;
    justify-content: center;
  }

  // 面包屑
  .breadNav {
    .el-breadcrumb {
      font-size: 17px;
      line-height: 2;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    .noticeHead {
      width: 1270px;
      display: flex;
      justify-content: space-between;
    }
  }
}
