.schoolBasic {
  margin-top: 30px;
  background: #fff;

  .pageTitle {
    font-size: 30px;
    display: flex;
    font-weight: 800;
    justify-content: center;
  }

  // 面包屑
  .breadNav {
    .el-breadcrumb {
      font-size: 17px;
      line-height: 2;
    }
  }

  .content {
    background-color: aliceblue;
    font-size: 18px;
    font-weight: 800;
  }
}